
/* CSS para el body con fondo*/
body {
    background-image: url("https://images.pexels.com/photos/3631430/pexels-photo-3631430.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#footer1 {
    color : #ffffff !important;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer span {
    color: white !important;
}

/*--------------------------------------------------------------*/


.card {
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
    overflow: hidden;
    width: 18rem; 
    margin: 0 auto; 
    margin-top: 5%;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 15rem;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);

}


