@{ ViewData["Title"] = "Producto > Detalle"; }

@model Producto

<div class="card">
    <dl class="row">
      <dt class="col-sm-3">Id</dt>
      <dd class="col-sm-9">@Model.Id</dd>

      <dt class="col-sm-3">Descripción</dt>
      <dd class="col-sm-9">@Model.Descripcion</dd>

      <dt class="col-sm-3">Precio</dt>
      <dd class="col-sm-9">@Model.Precio</dd>

      <dt class="col-sm-3">Cantidad</dt>
      <dd class="col-sm-9">@Model.Cantidad</dd>
    </dl>
</div>