@{
    ViewData["Title"] = "Estadisticas";
}

<br>
<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Generate a template for main content-->
<main class="container">
    <main class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Productos por persona</h2>
                </div>
                <div class="card-body">
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Precio por producto</h2>
                </div>
                <div class="card-body">
                    <canvas id="line-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card chart-container">
                <div class="card-header">
                    <h2>Edad por persona</h2>
                </div>
                <div class="card-body">
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Cantidad por producto</h2>
                </div>
                <div class="card-body">
                    <canvas id="line-chart2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        
// Gráfico de pastel
function interpolateColors(count) {
  var colors = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"];
  var step = 1.0 / (count - 1);
  var gradient = new Array(count);

  for (var i = 0; i < count; i++) {
    gradient[i] = colors[Math.floor(i * step * (colors.length - 1))];
  }

  return gradient;
}
        new Chart(document.getElementById("pie-chart"), {
            type: "doughnut",
            data: {
                labels: [@Html.Raw(string.Join(",", ViewBag.Chart2Labels))],
                datasets: [
                    {
                        label: "Productos",
                        hoverOffset : 4,
                        backgroundColor: interpolateColors(@(((List<string>)ViewBag.Chart2Labels).Count())),
                        data: [@String.Join(",", ViewBag.Chart2Data)],
                    }],
            },
            options: {
                responsive: true, aspectRatio: 2, maintainAspectRatio: true,
                },
            },
        );
// Gráfico de línea
        new Chart(document.getElementById("line-chart"), {
            type: "line",
            data: {
                labels: [@Html.Raw(string.Join(",", ViewBag.Chart3Labels))],
                datasets: [
                    {
                        label: "Precio por Producto",
                        hoverOffset : 4,
                        backgroundColor: interpolateColors(@(((List<string>)ViewBag.Chart3Labels).Count())),
                        data: [@String.Join(",", ViewBag.Chart3Data)],
                        fill : false,
                    },
                ],
            },
            options: {
                responsive: true, aspectRatio: 2, maintainAspectRatio: true,
                },
        });

        
        // Gráfico de barras
        new Chart(document.getElementById("bar-chart"), {
            type: "bar",
            data: {
                labels: [@Html.Raw(string.Join(",", ViewBag.Chart1Labels))],
                datasets: [
                    {
                        label: "Personas",
                        backgroundColor: interpolateColors(@(((List<string>)ViewBag.Chart1Labels).Count())),
                        data: [@String.Join(",", ViewBag.Chart1Data)],
                        
                    },
                ],
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Ventas por mes",
                },
            },
        });

        // Gráfico de línea2
        new Chart(document.getElementById("line-chart2"), {
            type: "line",
            data: {
                labels: [@Html.Raw(string.Join(",", ViewBag.Chart4Labels))],
                datasets: [
                    {
                        label: "Precio por Producto",
                        hoverOffset : 4,
                        backgroundColor: interpolateColors(@(((List<string>)ViewBag.Chart4Labels).Count())),
                        data: [@String.Join(",", ViewBag.Chart4Data)],
                        fill : false,
                    },
                ],
            },
            options: {
                responsive: true, aspectRatio: 2, maintainAspectRatio: true,
                },
        });
    </script>

</main>

<br>
<br>
<br>
<br>
