@{
    ViewData["Title"] = "UNITEC SUR";
}

    <br>
    <br>
    <br>

    <!-- Generate a template for main content-->
    <main class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <!-- Crea contenedores con una descripción breve de acuerdo con las funcionalidades del sitio, así como subir imágenes, colocarlas en el carrusel y gestionar a los usuarios-->
                <h1 class="display-5 fw-bold">Bienvenido a UNITEC Sur</h1>
                <p class="col-md-8 fs-4">El CRM que se desea realizar consiste en poder aprovechar al máximo el potencial de .NET
                y combinar todo para poder gestionar a todo el personal de la empresa.</p>
                <!-- Redirecciona el botón a las divisiones de abajo-->
                <button class="btn btn-primary btn-lg" type="button" onclick="location.href='#función'">Ver más</button>
            </div>
        </div>

        <div class="row align-items-md-stretch" id="función">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Administrar Usuarios</h2>
                    <p>Administra a todos los usuarios de tu empresa de una manera fácil y sencilla.</p>
                    <!-- Redirecciona el botón a la página de Upload-->
                    <button class="btn btn-outline-light" type="button" onclick="location.href='Clientes'">Gestionar</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Gestionar Productos</h2>
                    <p>Administra los usuarios de la plataforma con unos sencillos pasos, prúebalo ahora!.</p>
                    <!-- Redirecciona el botón a la página de Usuarios-->
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='Productos'">Gestionar</button>
                </div>
            </div>
        </div>

        <!-- Generate a template for footer-->
        <footer class="pt-3 mt-4 text-muted border-top" id="footer1">
            UNITEC Sur &copy; 2021.
            <span><strong>Diseñada por el primer equipo </strong> - Todos los derechos
                reservados.</span>
        </footer>
    </main>

    <br>
    <br>
    <br>
    <br>
