@{
    ViewData["Title"] = "Clientes > Crear";
}

@model Cliente

<!-- Crea una Plantilla para un formulario-->
<div id="editclientes">
    <div class="card" id="cardeditcli">
        <div class="card-header">
            <h3>Crear un Cliente</h3>
        </div>
        <div class="container">
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" asp-for="Nombre" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="direccion" asp-for="Direccion" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" asp-for="Telefono" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="correo" asp-for="Correo" required>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-success btn-block">Crear</button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a type="submit" class="btn btn-danger btn-block" asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<!--
<h1>
    Insertar:
</h1>

<form asp-action="Create" enctype="multipart/form-data">
    Nombre: <input asp-for="Nombre" type="text" required />
    <br />
    Direccion: <input asp-for="Direccion" type="text" required />
    <br />
    Telefono: <input asp-for="Telefono" type="text" required />
    <br />
    Correo: <input asp-for="Correo" type="text" required />
    <br />
    <br />
    <button>Crear</button>
</form>

<a asp-action="Index">Cancelar</a>

-->