@{ ViewData["Title"] = "Ventas > Editar"; }

@model Venta

<h1>
    Actualizar:
</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />

    ClienteId: <input asp-for="ClienteId" required />
    <br />
    Cliente: <input asp-for="Cliente" required />
    <br />
    ProductoId: <input asp-for="ProductoId" required />
    <br />
    Producto: <input asp-for="Producto" required />
    <br />
    Fecha: <input asp-for="Fecha" required />
    <br />
    <br />
    <button>Actualizar</button>
</form>

<a asp-action="Index">Cancelar</a>
